*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;


}
body{
	/* background: linear-gradient(139deg,#141414cb 0%,#34323ab6 90%); */
  background-color:#696969;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
color: white;
font-family: 'Baloo Bhaijaan 2', cursive;
font-family: 'Ubuntu', sans-serif;
}


.navbar{
  display: flex;
  justify-content: space-between;
  background: black;
  height: 4rem;
}
.btn{
  outline: none;
  border: none;
  width: 120px;
  color: white;
  background: red;
  padding: 10px;
  border-radius: 5px;
	text-transform: uppercase;
margin: 10px 20px 10px 20px;
  cursor: pointer;
}
.btn:active{
  transform: translateY(4px);

}
h1{
  color: red;
margin: 10px 20px 10px 20px;

}
h2{
  text-align: center;
  margin: 20px;
  color: red;
  opacity: .6;
  font-size: 40px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
.user-card{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.data{
  display: flex;
  flex-direction: row;
  padding: 30px;
  justify-content: space-evenly;
}
.about{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.image{
  margin: 10px;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 3px 10px 0 #aaa;
  width: 260px;
  transition: all .5s ease-in-out;

}
.about>span{
  margin: 5px;
    padding: 5px;
    font-size: 17.2px;
    color: black;
font-weight: bold;
}
.image>img{
  border-radius: 60px;
}
.image:hover{
	background: linear-gradient(148deg,#bdaaaacb 0%,#302d2db6 90%);
cursor: pointer;
color: white;
transform: scale(1.1);
}
@media only screen and (max-width: 500px) {
.navbar{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 9rem;
}
h1{
  font-size: 35px;
}
.btn{
  width: 220px;
}
h2{
  font-size: 30px;
}
}
@media only screen and (max-width: 320px) {
.data{
padding: 1px;
}
.about>span{
  margin: 0;
  padding: 0;
  font-size: inherit;
}
.image{
  width: 220px;
}
h2{
  font-size: 25px;
}
}
